spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enable: true
          lower-case-service-id: true

  profiles:
    active: dev

  server:
    port: 8080

jwt:
  secretKey:

management:
  endpoints:
    web:
      exposure:
        include: health,info

