spring:
  application:
    name: INVENTORY-SERVICE

  profiles:
    active: dev

server:
  port: 9060
  servlet:
    context-path: /inventory


  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true



logging:
  level:
    com:
      project:
        INVENTORY-SERVICE: DEBUG
    org.springframework: INFO
    org.hibernate: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n"
